---
layout: default
---

<div class="home">
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%B %-d, %Y" }}
      </time>
      <h2 class="post-link-heading">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
